.inputContainer {
  position: relative;
  width: 100%;
}

.input {
  border: none;
  border-radius: 15px;
  outline: 1px solid var(--primary-color-gray);
  font-size: 16px;
  padding: 12px 35px 12px 10px;
  color: var(--primary-color-black);
  font-weight: 500;
  box-shadow: var(--box-shadow-heavy);
  transition-duration: 0.2s;
  width: 100%;
  box-sizing: border-box;
}

.input:focus {
  transform: translateY(1px);
  box-shadow: none;
}

.input:focus + .clearButton {
  transform: translateY(calc(-50% + 1px));
}

.clearButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  border: none;
  background-color: transparent;
  padding: 0;
  border-radius: 50%;
  transition-duration: 0.2s;
  cursor: pointer;
}

.clearButton img {
  width: 35px;
  height: 35px;
}

.inputWrapper {
  width: 100%;
}

.error {
  color: var(--primary-color-red);
  font-size: 12px;
  margin-top: 4px;
  text-align: left;
}
